/*--------------------------------Fuente arcade--------------------------------------------*/
@font-face {
    font-family: 'Arcade';
    src: url('../fonts/ARCADECLASSIC.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/*--------------------------------pagina--------------------------------------------*/

#body{
    background-color: #efefef;
}

h5{
    color: #d8a90f;
}


/*------------------------------------------juego------------------------------------------------*/

div > img{
    width: 100%;
    height: 100%;
}

.container{
    display: block;
    position: relative;
    margin-bottom: 2rem;
    top: 5%;
    justify-content: center;
    background-color: #fff;
    padding: 2rem 2rem;
    cursor: pointer;
    border-radius: 01.5rem;
    transition: box-shadow 0.3s ease;
    height: 600px;
}

#puntuacion{
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
    z-index: 3;
}

#Titulo{
    color: #3c2c74;
    text-align: center;
    left: 40%;
}

#over{
    font-family: 'Arcade';
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 42%;
    color: red;
    text-align: center;
    display: none;
    z-index: 1;
}

#fondo{
    position: absolute;
    width: 700px;
    height: 450px;
    left: 22%;
}

#pasto{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0%;
    background-color: rgba(80, 16, 153, 0.651);
}
#bird{
    position: absolute;
    width: 25px;
    height: 25px;
    image-rendering: auto;
    image-resolution: 25px-25px;
    left: 15%;
    top: 47.5%;
    animation:salto2 2s linear infinite;
    animation-play-state: paused;
}

#tubo1{
    position: absolute;
    left: 20%;
    background-color: transparent;
    width: 80px;
    height: 0px;
    top: 0%;
}
#tubo2{
    position: absolute;
    left: 45%;
    background-color: transparent;
    width: 80px;
    height: 0px;
    top: 0%;
}
#tubo3{
    position: absolute;
    left: 70%;
    background-color: transparent;
    width: 80px;
    height: 0px;
    top: 0%;
}

#tubo1a{
    position: absolute;
    left: 20%;
    background-color: transparent;
    width: 80px;
    height: 0px;
    bottom: 0%;
}
#tubo2a{
    position: absolute;
    left: 45%;
    background-color: transparent;
    width: 80px;
    height: 0px;
    bottom: 0%;
}
#tubo3a{
    position: absolute;
    left: 70%;
    background-color: transparent;
    width: 80px;
    height: 0px;
    bottom: 0%;
}

#marcador{
    position: absolute;
    left: 100%;
    background-color: #533Ba3;
    z-index: 1;
    top: 0%;
    height: 100%;
    width: 20%;
    text-align: center;
}

#marcador p{
    color: rgb(182, 179, 28);
}

#jugar{
    position: absolute;
    align-self: center;
    font-family: 'Arcade';
    font-size: 20px;
    background-color:none;
    color: rgb(65, 247, 10);
    border-radius: 10%;
    width: 15%;
    height: 5%;
    left: 53%;
    top: 50%;
    display: none;
    z-index: 1;
    text-align: center;
}
/*-------------------Boton de regresar-----------------------*/

#Breturn{ 
    background-color: #533Ba3;
    font-family: 'Arcade';
    color: rgb(196, 193, 43);
    border-color: none;
    position: relative;
    border-radius: 20px;
}

#Breturn:hover{
    background-color: #3c2c74;
}


@media (min-width: 767px) {
    #fondo{
        display: block;
    }
    #mensaje{
        display:none;
    }
}


@media (max-width: 767px) {
    #fondo{
        display: none;
    }
    #mensaje{
        display:block;
        color: black;
    }
}