<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/styles.css">
    <link rel="stylesheet" href="../CSS/nuestro_trabajo.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/IMG/favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/IMG/favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/IMG/favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/IMG/favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/IMG/favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/IMG/favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/IMG/favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/IMG/favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/IMG/favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/IMG/favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/IMG/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/IMG/favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/IMG/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="/IMG/favicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/IMG/favicon.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Nuestro Trabajo</title>
</head>
<body id="body">
    <header class="header">
        <div class="barra">
            <a class="logo" href="index.html">
                <h1 class="logo__nombre no-margin centrar-texto">Diseño y Desarrollo<span class="logo__bold">web</span></h1>
            </a>

            <nav class="navegacion">
                <a href="index.html" class="nav-en">Inicio</a>
                <a href="AcercaDe.html" class="nav-en">Acerca De</a>
                <a href="Contacto.html" class="nav-en">Contacto</a>
                <a href="nuestro_trabajo.html" class="nav-en">Nuestro Trabajo</a>
            </nav>
        </div>
    </header>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <video src="../IMG/pagina3.mp4" controls autoplay restart height="100%" width="100%"></video>
            <div class="carousel-caption d-none d-md-block">
              <h5>Colorear didáctico para niños</h5>
              <p>Implementación de animaciones en canvas</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../IMG/pagina1.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Pagina Starwars</h5>
              <p>Uso de javascript en paginas</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../IMG/pagina2.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Pagina Señor de los anillos</h5>
              <p>Uso de javascript en páginas</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../IMG/pagina4.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Pagina para empresa de diseñadores</h5>
              <p>Diseños llamativos</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

<!--Juego-->
<div class="container">
    <div class="row">
        <div>
            <h1 id="titulo">Flappy Golbat</h1>
            <div id="fondo">
                <img src="../IMG/cueva.jpg" alt="">
                <div id="pasto"></div>
                <h1 id="over">Game Over</h1>
                <h3 id="puntuacion"></h3>
                <div id="tubo1"><img src="../IMG/Stalactite.png" alt="torre"></div>
                <div id="tubo2"><img src="../IMG/Stalactite.png" alt="torre"></div>
                <div id="tubo3"><img src="../IMG/Stalactite.png" alt="torre"></div>
                <div id="tubo1a"><img src="../IMG/2.png" alt="torre"></div>
                <div id="tubo2a"><img src="../IMG/2.png" alt="torre"></div>
                <div id="tubo3a"><img src="../IMG/2.png" alt="torre"></div>
                <div id="marcador"><br><p><b>Flappy Golbat</b></p><p>Para jugar presioné w para que el murcielago pueda volar y encontrar su salida de la baticuava</p><a href="./index.html" class="btn btn-primary" id="Breturn"> Regresar </a></div>
                <div id="jugar">Jugar de nuevo</div>
                <div id="bird"><img src="../IMG/Murcielago.png" alt="murcielago"></div>
            </div>
            <h1 id="mensaje">Para probar el juego de flappy golbat inicie la pagina en un dispositivo con mas de 768 px</h1>
            <!--////////////////Boton de regresar/////////////////////-->
        </div>
    </div>
</div>

<br><br>br
<!--Footer-->
  <footer class="footer">
    <div class="contenedor barra">
        <a class="logo" href="index.html">
            <h1 class="logo__nombre no-margin centrar-texto">Diseño y Desarrollo<span class="logo__bold">web</span></h1>
        </a>

        <p class="no-margin centrar-texto">
            ©Todos los derechos reservados 2022
        </p>
    </div>
</footer>
  <!--/////////Script para cambiar los fondos///////////-->
<script src="../JS/nuestro_trabajo.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<body id="body"> 
    <!--//////////////boopstrap///////////////-->
